.i {
    display: flex;
    height: 100vh;
    overflow: hidden;
    .i-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .i-right {
        flex: 1;
        position: relative;
        z-index: 0;
    }
    .i-left-wrapper {
        padding: 50px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .i-intro {
        color: #939799;
        font-size: 30px;
        font-weight: 800;
        opacity: .7;
        text-transform: uppercase;
    }
    .i-name {
        font-size: 60px;
        text-transform: uppercase;
        span {
            color: #59b256;
        }
    }
    hr {
        width: 100%;
        height: 5px;
        background-color: #59b256;
    }
    .i-prof {
        margin-top: 20px;
    }
    .i-bg {
        clip-path: polygon(100% 0%, 100% 46%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        background: #59b256;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0
    }
    .i-img {
        width: 375px;
        height: 550px;
        object-fit: cover;
        position: absolute;
        bottom: -10%;
        right: 10%;
        overflow: hidden;
    }
    @media(min-width: 1280px) {
        .i-img {
            height: 95vh;
            width: 40vw;
        }
    }
    @media(min-width: 641px)and (max-width:900px) {
        .i-img {
            height: 100%;
            width: 100%;
            right: 0%;
        }
    }
    @media(min-width: 320px)and (max-width:640px) {
        .i {
            flex-direction: column;
        }
        .i-left-wrapper {
            padding: 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            padding-top: 80px;
        }
        .i-intro {
            font-size: 20px;
        }
        .i-name {
            font-size: 50px;
        }
        hr {
            height: 3px;
        }
        .i-prof {
            padding-top: 10px;
        }
        .i-desc {
            display: none;
        }
        .i-right {
            display: none;
        }
        .i-title-item {
            margin-top: 40px;
        }
        .i-intro {
            margin: 0
        }
    }
}